boto3
opencv-python
sagemaker
matplotlib
Pillow
numpy
fastapi
uvicorn[standard]
python-multipart
torch
torchvision
psycopg2-binary
awscli
python-dotenv
requests
cloudinary
databases
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
fastapi-jwt-auth